
:root {
    --gif-recorder-container-width:  min-content;
    --gif-recorder-container-height: 60px;
}

.gif-recorder-container {
    max-width:  var(--gif-recorder-container-width);
    max-height: var(--gif-recorder-container-height);

    width:     100%;
    height:    100%;

    z-index: 999;

    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;

    justify-content: space-around;
    align-items:     center;

    background-color: gray;
    border-radius: 10px;

    font-size: 1.2rem;
}

.gif-recorder-container div {
    margin: 0.5rem;
    display: flex;
    /* background-color: red; */
}

.gif-recorder-container input {
    /* background-color: blue; */
}
